@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.x-logo {
  color: #058c42;
}

.button-signup {
  background-color: #058c42 !important;
}

.button-signup:hover {
  background-color: #047537 !important;
}

.button-login {
  color: #121212 !important;
}

.logo-main {
  color: #121212 !important;
}

footer {
  color: #121212; /* Text color of the footer */
  position: fixed;
  bottom: 0;
  width: 100%;
}

.left-foot {
  color: #f8ffe5b5;
}

.right-foot {
  color: #f8ffe5b5;
}

.back {
  background-color: #fafafa !important ;
}

input[type="file"] {
  display: none;
}

.or {
  font-weight: 700;
  color: #0000001b;
  font-size: 20px;
}

label {
  background-color: #3772ff;
  padding: 8px 32px;
  border-radius: 6px;
  color: white;
}
label:hover {
  background-color: #3165e0;
}
