@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: rgb(31 32 32);
}

.x-logo {
  color: #232323;
}

.button-signup {
  background-color: #407edb !important;
}

.button-signup:hover {
  background-color: #4a9ad7 !important;
}

.button-login {
  color: white !important;
}

.logo-main {
  color: #fffbff !important;
  text-align: left !important;
}

footer {
  color: #121212; /* Text color of the footer */
  position: fixed;
  bottom: 0;
  width: 100%;
}

.left-foot {
  color: #f8ffe5b5;
}

.right-foot {
  color: #f8ffe5b5;
}

.back {
  background-color: #fafafa !important ;
}

input[type="file"] {
  display: none;
}

.or {
  font-weight: 700;
  color: #0000001b;
  font-size: 20px;
}

.MuiDrawer-content {
  border-radius: 40px 0 0 40px !important;
  padding: 0 56px 0 56px;
  padding-top: 5%;
}

.split {
  display: flex;
  flex-direction: row;
}

.home {
  background: rgb(31 32 32);
}

.left {
  background-color: white;
  padding: 32px;
  border-radius: 6px;
}

.asd {
  color: #717991 !important;
  width: 60% !important;
}

.sheet {
  background-color: #f8fbff;
  border-radius: 6px;
  border: 1px solid #dbe4f2;
  flex: 0 1 auto !important;
}

.right-sheet {
  margin-top: 6px;
}

.sss {
  color: #717991 !important;
}

.MuiInput-root {
  padding: 8px 16px !important;
}

.a {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.lock {
  width: 24px;
  height: auto;
  color: #4a9ad7;
}

* {
  font-family: "Uncut Sans", sans-serif !important;
}

.right-upload {
  background-color: white;
  border-radius: 8px;
  height: 180px;
  width: 260px;
}

.bsplus {
  width: 36px;
  height: auto;
}

.add-files {
  padding: 18px 8px 18px 2px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 2px dashed rgba(69, 75, 133, 0.33);
}

.add-files:hover {
  background-color: #eaedf1 !important;
  cursor: pointer;
}

.right-side {
  background-color: #0e0f19 !important;
}

.left-side {
  background: linear-gradient(to bottom right, #9d50bb, #6e48aa);
}

.login-button {
  background-color: #407edb !important;
  transition: background-color 0.2s ease !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.login-button:hover {
  background-color: #2a5697 !important;
}

.Terms {
  color: rgba(142, 142, 160) !important;
}

.line {
  color: rgba(142, 142, 160) !important;
}

.x-home {
  color: #407edb;
}

.footer-cc {
  color: rgb(134, 134, 134) !important;
}

.field {
  padding: 10px 16px !important;
  border-radius: 5px;
}

.button-in-login {
  background-color: #407edb;
}

.button-in-login:hover {
  background-color: #2a5697;
  transition: background-color 0.2s ease;
}

.grey {
  color: #d1d2d3 !important;
}

.disabled-button {
  background-color: grey;
  cursor: not-allowed;
}

.disabled-button:hover {
  background-color: grey;
  cursor: not-allowed;
}
